@charset "UTF-8";

html * {
  font-size: 16px;
/*\*/
  font-size: 100.01%;
/**/
}

/* reset styles*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
fieldset,img {  
  border:0; 
} 
ol,ul {
  list-style-type: none;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}

/* theme */
body {
  font-family: "Gill Sans", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  font-size: 81.25%; /* 13px */
  font-size: 87.5%;  /* 14px */
  font-size: 100%;
  text-align: center;
  color: #444;
  background: #555 url(background.png) top left repeat-x;
}


/* layout */
div.related,
div.document,
div.footer {
  margin: 0 auto;
  min-width: 50em;
  max-width: 1024px;
  text-align: left;
}

div.document {
  background-color: #cde;
  background-color: #ddd;
}
div.documentwrapper {
  float: right;
  width: 100%;
}
div.bodywrapper {
  margin: 0 230px 0 0;
}
div.body {
  background-color: white;
  padding: 10px 20px 30px 20px;
}
div.sphinxsidebarwrapper {
  padding: 10px 5px 0 10px;
}

div.sphinxsidebar {
  float: right;
  width: 230px;
  margin-right: -100%;
  font-size: 90%;
}
div.sphinxsidebar h3 {
  margin-top: 1em;
  color: #777;
}
div.sphinxsidebar ul {
  margin-top: 5px;
  margin-left: .5em;
}
div.sphinxsidebar ul ul {
  margin-top: 0;
  margin-left: 1em;
}

div.clearer {
  clear: both;
}

div.footer {
  color: #fff;
  width: 100%;
  padding: 9px 0 9px 0;
  text-align: center;
  font-size: 90%;
}

div.footer a {
  color: #fff;
  text-decoration: underline;
}

div.footer {
  background-color: #167cba;
}
div.related {
  color: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 90%;
  background: #369 url(relatedbg.png) top left repeat-x;
}

div.related h3 {
  display: none;
}

div.related ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
}

div.related li {
  display: inline;
}

div.related li.right {
  float: right;
  margin-right: 5px;
}

div.related a {
  color: white;
  text-decoration: none;
}

a {
  color: #399;
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div.body a,
div.body a em {
  color: #399;
  font-weight: normal;
  text-decoration: underline;
}
div.body a:active,
div.body a:active em {
  color: #f60;
}

div.body a:hover { background-color: #ddd; }
div.body a:visited { text-decoration: none; }

h1,h2,h3,h4,h5,h6 {
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  color: #39c;
}

h1 { font-size: 171.42%; /* 24px */ }
h2 { font-size: 114.28%; /* 16px */ }

a.headerlink {
  margin-left: 3px;
  padding: 0 4px 0 4px;
  text-decoration: none;
  visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  color: #f60;
  visibility: visible;
  text-decoration: none;
}

div.body a.headerlink:hover {
  background-color: transparent;
  color: #930;
  text-decoration: none;
}

div.body strong {
  font-weight: normal;
  color: #f60;
  color: #069;
}
div.body em {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  color: #036;
  color: #690;
}

div.body p {
  margin: 1em 0;
  line-height: 1.3;
}

/*
div.body ul {
  display: block;
  margin: 1em 0;
  list-style-type: disc;
}
div.body li {
  display: list-item;
  margin-left: 3em;
}
*/
div.body ul {
  display: block;
  margin: 1em 0;
  list-style-type: none;
}
div.body li {
  display: list-item;
  margin-left: 2em;
  padding-left: 22px;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: 0px 4px;
  background-image: url(checkblue.png);
  background-image: url(checkgray.png);
  background-image: url(checkgreen.png);
}



dt:target,
.highlight {
  padding: 1px 3px;
  background-color: #ff9;
}


/* default.css*/
div.body td {
    text-align: left;
}

ul.fakelist {
    list-style: none;
    margin: 10px 0 10px 20px;
    padding: 0;
}

.field-list ul {
    padding-left: 1em;
}

.first {
    margin-top: 0 !important;
}

/* "Footnotes" heading */
p.rubric {
    margin-top: 30px;
    font-weight: bold;
}

/* "Topics" */

div.topic {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0 7px 0 7px;
    margin: 10px 0 10px 0;
}

p.topic-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}

/* Admonitions */

div.admonition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

div.admonition dt {
    font-weight: bold;
}

div.admonition dl {
    margin-bottom: 0;
}

div.admonition p {
    display: inline;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

p.admonition-title {
    margin: 0px 10px 5px 0px;
    font-weight: bold;
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

div.body p.centered {
    text-align: center;
    margin-top: 25px;
}

table.docutils {
    border: 0;
}

table.docutils td, table.docutils th {
    padding: 1px 8px 1px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aaa;
}

table.field-list td, table.field-list th {
    border: 0 !important;
}

table.footnote td, table.footnote th {
    border: 0 !important;
}

.field-list ul {
    margin: 0;
    padding-left: 1em;
}

.field-list p {
    margin: 0;
}

dl {
    margin-bottom: 15px;
    clear: both;
}

dd p {
    margin-top: 0px;
}

dd ul, dd table {
    margin-bottom: 10px;
}

dd {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.refcount {
    color: #060;
}

dt:target,
.highlight {
    background-color: #fbe54e;
}

dl.glossary dt {
    font-weight: bold;
    font-size: 1.1em;
}

th {
    text-align: left;
    padding-right: 5px;
}

pre {
    padding: 5px;
    background-color: #efc;
    color: #333;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
    overflow: auto;
}

td.linenos pre {
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    color: #aaa;
}

table.highlighttable {
    margin-left: 0.5em;
}

table.highlighttable td {
    padding: 0 0.5em 0 0.5em;
}

tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 0.95em;
}

tt.descname {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
}

tt.descclassname {
    background-color: transparent;
}

tt.xref, a tt {
    background-color: transparent;
    font-weight: bold;
}

.footnote:target  { background-color: #ffa }

h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
    background-color: transparent;
}

.optional {
    font-size: 1.3em;
}

.versionmodified {
    font-style: italic;
}

form.comment {
    margin: 0;
    padding: 10px 30px 10px 30px;
    background-color: #eee;
}

form.comment h3 {
    background-color: #326591;
    color: white;
    margin: -10px -30px 10px -30px;
    padding: 5px;
    font-size: 1.4em;
}

form.comment input,
form.comment textarea {
    border: 1px solid #ccc;
    padding: 2px;
    font-family: sans-serif;
    font-size: 100%;
}

form.comment input[type="text"] {
    width: 240px;
}

form.comment textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.system-message {
    background-color: #fda;
    padding: 5px;
    border: 3px solid red;
}

/* :::: PRINT :::: */
@media print {
    div.document,
    div.documentwrapper,
    div.bodywrapper {
        margin: 0;
        width : 100%;
    }

    div.sphinxsidebar,
    div.related,
    div.footer,
    div#comments div.new-comment-box,
    #top-link {
        display: none;
    }
}
