@charset "UTF-8";

html * {
  font-size: 16px;
/*\*/
  font-size: 100.01%;
/**/
}

body {
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  font-size: 81.25%; /* 13px */
  color: #444;
}
